.Rproj.user
.Rhistory
.RData
.Ruserdata
Plots/SPI_raincloud_plot_filtered.png
Plots/SPI_raincloud_plot.png
SASHI_IPA_boxplot.png
Plots/OPS_IPA_rainplot.png
Plots/OPS_IPA_rainplot_log.png
Plots/OPS_IPDD_rainplot.png
Plots/OPS_IPDD_rainplot_log.png
Plots/OPS_IPO_rainplot.png
Plots/OPS_IPS_rainplot.png
Plots/OPS_violin_plot.png
Plots/OPS_violin_plot_log.png
Plots/SASHI_IPA_rainplot.png
Plots/SASHI_number_rainplot.png
Plots/SASHI_number_rainplot_log.png
Plots/SASHI_number_ts.png
Plots/ODDS_pareto_2023.png
Plots/ODDS_pareto_2022.png
Plots/OLEPIP_subcat_ridge.png
Plots/odds_issues_heatmap.png
ridge.png
Plots/river_subcat.png
~$high_violations_per_statement.xlsx
~$ops_proportions.xlsx
~$Old_OLE_2023_summary.xlsx
~$ops_olepip_proportions.xlsx
~$2023_summary_data.xlsx
ops_proportions_new.csv
2023_outputs/charts_and_tables/Plots/river_oldcat_23.png
2023_outputs/charts_and_tables/Plots/river_newcat_safety.png
2023_outputs/charts_and_tables/Plots/river_newcat_nonsafety.png
2023_outputs/charts_and_tables/Plots/ODDS_pareto_2023.png
2023_outputs/charts_and_tables/Plots/ODDS_pareto_2022.png
